body {
  margin: 0;
  font-family: 'Mukta', sans-serif;
}

.set-alert {
  position: absolute;
  top: 50px;
  left: 50px;
  color: white;
  border: 2px solid white;
  padding: 5px 20px;
  border-radius: 20px;
}

.set-alert:hover {
  background-color: #504089;
}

.alert-form {
  position: absolute;
  top: 100px;
  left: 50px;
  display: none;
  flex-direction: column;
  background-color: #DD7A2F;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 5px 5px 25px rgba(0,0,0,0.6);
  color: #504089;
}

.user-time {
  background: #efefef;
  margin-bottom: 5px;
  padding: 5px 1px;
  border-radius: 20px;
  border: none;
  height: 15px;
  text-align: center;
}

#btn-alert {
  background-color: #DD7A2F;
  border: 2px solid #504089;
  padding: 3px 15px;
  border-radius: 20px;
  color: #504089;
}

.clock-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-face {
  width: 500px;
  height: 500px;
  border: 14px double #dd7a00;
  border-radius: 50%;
  background: #efefef;
  background-image: url('images/clock-face.png');
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 25px rgba(0,0,0,0.6);
  position: relative;
}

.clock-center {
  width: 20px;
  height: 20px;
  background-color: #dd7a00;
  border-radius: 50%;
  position: absolute;
  top: 240px;
  left: 240px;
}

#min-hand {
  position: absolute;
  right: 50%;
  bottom: 50%;
  width: 200px;
  border-bottom: 5px solid black;
  transform-origin: 100%;
  transform: rotate(90deg);
}

#hour-hand {
  position: absolute;
  right: 50%;
  bottom: 50%;
  border-bottom: 7px solid black;
  width: 120px;
  transform-origin: 100%;
  transform: rotate(90deg);
}

#second-hand {
  position: absolute;
  right: 50%;
  bottom: 50%;
  border-bottom: 3px solid #dd7a00;
  width: 195px;
  transform-origin: 100%;
  transform: rotate(90deg);
}
